
.friend-list-container {
    background-image: linear-gradient(to right bottom, #8EA7C7, #EECAC9);
    /*background-image: linear-gradient(to right bottom, #EECAC9, #8EA7C7);*/
    width: 20%;
    position: absolute;
    top: 70px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.friend-add-container {
    /*width: 100%;*/
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    border-bottom: 1px #deeafd solid;
}

.friend-add-button {
    /*background-color: #fff;*/
    background-color: #deeafd;
    /*background-image: linear-gradient(to left, #8EA7C7, #EECAC9);*/
    outline: none;
    width: 80%;
    padding: 8px;
    font-size: 0.8rem;
    border-radius: 10px;
    color: #8EA7C7;
    border: 1px #d4e0f3 solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.friend-add-button:hover {
    background-color: #d4e0f3;
    transition-duration: 0.3s;
    color: #7c94b4;
    border: 1px #c4d0e3 solid;
}

.group-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*width: 100%;*/
    /*margin: 20px;*/
    /*padding: 20px;*/
    color: #fff;
}

.group-title {
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.friend-group-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*margin: auto 20px;*/
    /*height: 50px;*/
    /*!*background-color: rebeccapurple;*!*/
    /*!*justify-content: center;*!*/
    /*align-items: center;*/
}

.group-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    padding: 0 20px;
}

.group-select-img {
    width: 14px;
    height: 14px;
    margin: 0 10px 0 0;
}

.group-name {
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.friend-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 0 20px;
    /*justify-content: center;*/
    align-items: center;
    cursor: pointer;
    /*background-color: rebeccapurple;*/
}

.friend-item-container:hover {
    background-color: rgba(0, 0, 0, 0.08);
    transition-duration: 0.3s;
}

.friend-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.friend-info {
    display: flex;
    flex-direction: column;
    margin: auto 15px;
}

.friend-name {
    font-size: 1rem;
    color: #fff;
    letter-spacing: 2px;
}

.friend-signature {
    font-size: 0.8rem;
    color: #EDF1F8;
    letter-spacing: 1px;
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #62AA63;
    position: absolute;
    right: 20px;
    /*display: flex;*/
    /*align-self: flex-end;*/
    /*justify-self: flex-end;*/
}

.offline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #EF6763;
}
