.chat-container {
    background-image: linear-gradient(to right bottom, #8EA7C7, #EECAC9);
    /*background-image: linear-gradient(to right bottom, #EECAC9, #8EA7C7);*/
    width: 20%;
    position: absolute;
    top: 70px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chat-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80px;
    padding: 0 20px;
    /*justify-content: center;*/
    align-items: center;
    cursor: pointer;
    /*background-color: rebeccapurple;*/
}

.chat-item-container:hover {
    background-color: rgba(0, 0, 0, 0.08);
    transition-duration: 0.3s;
}

.selected {
    background-color: rgba(0, 0, 0, 0.08);
    transition-duration: 0.3s;
}

.friend-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    flex-shrink: 0;
    margin: auto 0;
}

.friend-info {
    display: flex;
    flex-direction: row;
    margin: auto 15px;
    /*justify-content: center;*/
    width: 80%;
    /*width: 70%;*/
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    width: 72%;
}

.info-other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*width: 100%;*/
}

.friend-name {
    font-size: 1rem;
    color: #fff;
    letter-spacing: 2px;
    margin: auto 0 4px 0;
}

.last-time {
    font-size: 6px;
    color: #fff;
    margin: 4px 0 6px 0;
    letter-spacing: 1px;
    /*margin: auto 0 4px 0;*/
}

.friend-status {
    display: flex;
    flex-direction: row;
}

.friend-signature {
    font-size: 0.7rem;
    color: #EDF1F8;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 110%;
    /*max-width: 220px;*/
    margin: auto 0;
}

.unread-number {
    display: flex;
    align-self: flex-end;
    color: #fff;
    margin: auto 0;
    font-size: 0.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #DF5347;
    border-radius: 20px;
    padding: 0 8px;
}

.position{
    margin: auto 0;
}
