.user-info-container {
    /*background-color: rebeccapurple;*/
    background-color: #EDF1F8;
    width: 80%;
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.user-head {
    width: 60%;
    /*background-color: #1d643b;*/
    height: 16%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;
}

.user-avatar {
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #C5BAC8;
    cursor: pointer;
}

.user-avatar:hover {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 3px solid #C5BAC8;
    transition-duration: 0.2s;
}

.user-base-info {
    width: 70%;
    height: 24%;
    /*background-color: #1b4b72;*/
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.base-item {
    width: 30%;
    background-color: darkgray;
    height: 40%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.click-container {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;

}

.sex-title-man {
    background-image: -webkit-linear-gradient(bottom, rgb(29, 190, 240), rgb(80, 229, 210));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
    /*font-weight: bold;*/
    letter-spacing: 4px;
}

.sex-title-woman {
    background-image: -webkit-linear-gradient(bottom, #FE5992, #FFBA97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
    /*font-weight: bold;*/
    letter-spacing: 4px;
}

.user-img {
    width: 35px;
    height: 35px;
}

.menu-icon {
    width: 16px;
    height: 16px;
    display: flex;
    margin-left: 20px;
}

.select-sex {
    position: absolute;
    height: 100px;
    background-image: linear-gradient(to top, #8EA7C7, #E4C6C9);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    border-radius: 10px;
}

.item-top {
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: auto;
    color: white;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.item-top:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
}

.item-bottom {
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: auto;
    color: white;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}

.item-bottom:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
}


.age-title {
    background-image: -webkit-linear-gradient(bottom, #3889F5, #3AE4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
    letter-spacing: 4px;
}

.user-age {
    background-image: -webkit-linear-gradient(bottom, #3889F5, #3AE4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
    letter-spacing: 4px;
}

.select-age {
    position: absolute;
    height: 250px;
    background-image: linear-gradient(to top, #8EA7C7, #E4C6C9);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    border-radius: 10px;
}

.item-content {
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: auto;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.item-content:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
}

.zodiac-title {
    background-image: -webkit-linear-gradient(bottom, #FF943F, #FFD468);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
    letter-spacing: 4px;
}

.constellation-title {
    background-image: -webkit-linear-gradient(bottom, #8EA7C7, #E4C6C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
    letter-spacing: 4px;
}

.birth-title {
    background-image: -webkit-linear-gradient(bottom, #F65179, #FFB092);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
    letter-spacing: 4px;
}

.birth-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.user-month {
    background-image: -webkit-linear-gradient(bottom, #F65179, #FFB092);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
    vertical-align: bottom;
}

.user-day {
    background-image: -webkit-linear-gradient(bottom, #F65179, #FFB092);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.9rem;
    vertical-align: bottom;
    border-left: 2px solid rgba(200, 200, 200, 0.6);
    padding-left: 7px;
    margin-left: 5px;
    line-height: 0.9rem
}


.select-before {
    position: absolute;
    height: 50px;
    background-image: linear-gradient(to top, #D2BFC8, #E4C6C9);
    /*background-color: #E4C6C9;*/
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    float: right;
    border-radius: 10px;
}

.year {
    margin: auto;
    height: 50px;
    width: 33.3%;
    display: inline-block;
    text-align: center;
    padding: auto;
    line-height: 50px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

.year:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
}


.fade-enter-active {
    transition: all 0.3s;
    /*transition-delay: 0.8s;*/
}

.fade-leave-active {
    transition: all 0.3s;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

