.chat-detail-container {
    background-color: #EDF1F8;
    width: 80%;
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-user-container{
    width:100%;
    height:8%;
    background-color:#1d643b;
}

.chat-content-container{
    width:100%;
    height:72%;
    background-color: #8f8e93;
}

.chat-input-container{
    width:100%;
    height:20%;
    background-color: #fff6a1;
}
